a:hover{
  color : #bfbfbf;
}
.nav-items:hover, .nav-link:hover{
  cursor: pointer;
}
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: #9b0000;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #e00000;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #2d3033;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #2d3033;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #9b0000;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}

.navbar-toggler:focus{
  box-shadow: none;
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}



*{
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}
.uniteCercle{
  font-size: 10px;
}
html, body{
  /* display:grid;
  height:100%;
  text-align: center;
  place-items: center; */
  background: #2d3033;
  color: #fff;
}
.circular{
  height:100px;
  width: 100px;
  position: relative;
  transform:scale(2);
  margin: 5rem;
}
.circular .inner{
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: #2d3033;
  border-radius: 100%;

}
.circular .number{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:10;
  font-size:25px;
  font-weight:500;
  font-weight: bold;
  color:#9b0000;
  line-height:0.5;
}

.circular .bar{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #474747;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: #9b0000;
}
.circular:nth-of-type(1) .circle .left .progress{
  z-index:1;
  transform: rotate(180deg);
  /* transition: transform 1s; */
}
.circular:nth-of-type(2) .circle .left .progress{
  z-index:1;
  transform: rotate(180deg);
  /* transition: transform 1s; */
}
.circular:nth-of-type(3) .circle .left .progress{
  z-index:1;
  transform: rotate(180deg);
  /* transition: transform 1s; */
}
.circular:nth-of-type(4) .circle .left .progress{
  z-index:1;
  transform: rotate(180deg);
  /* transition: transform 1s; */
}
.circular:nth-of-type(5) .circle .left .progress{
  z-index:1;
  transform: rotate(180deg);
  /* transition: transform 1s; */
}
@keyframes left{
  100%{
    transform: rotate(180deg);
  }
}
.circle .right {
  transform: rotate(180deg);
  z-index:3;

}

.circular:nth-of-type(1) .circle .right .progress{
  transform: rotate(180deg);
  /* transition: transform 1s; */
  /* animation-delay:4s; */
}
.circular:nth-of-type(2) .circle .right .progress{
  transform: rotate(180deg);
  /* transition: transform 1s; */
  /* animation-delay:4s; */
}
.circular:nth-of-type(3) .circle .right .progress{
  transform: rotate(180deg);
  /* transition: transform 1s; */
  /* animation-delay:4s; */
}
.circular:nth-of-type(4) .circle .right .progress{
  transform: rotate(180deg);
  /* transition: transform 1s; */
  /* animation-delay:4s; */
}
.circular:nth-of-type(5) .circle .right .progress{
  transform: rotate(180deg);
  /* transition: transform 1s; */
  /* animation-delay:4s; */
}
@keyframes right{
  100%{
    transform: rotate(180deg);
  }
}

.contentGrid{
  display:grid;
  height:100%;
  text-align: center;
  place-items: center;
  background: #2d3033;
  color: #fff;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  border-radius:100%;
  border: 3px solid black;
  width: 7rem;
  height:7rem;
}

#pb{
  display: none;
  width: 25%;
  padding: 5px;
  margin: 5px;
  text-align: center;
  background-color: #ffffffb2;
  position: fixed;
  bottom: 20px;
  right: 30px;
}

#pbTxt{
  font-size: 20px;
  color:red;
}

/* Pour telephone */
@media screen and (max-width:1023px){
  .content{
    position:relative;
    display:flex;
    justify-content:space-around;
    flex-direction:column;
  }
}
/* Pour ordinateur */
@media screen and (min-width:1023px){
  .content{
    position:relative;
    display:flex;
    justify-content:space-around;
  }
}


.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* popup Content */
.popup-content {
  background-color:#171717;
  margin: auto;
  padding: 20px;
  border: 1px solid #4c4c4c;
  width: 80%;
}

/* The Close Button */
.close {
  color: #747474;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #d0d0d0;
  text-decoration: none;
  cursor: pointer;
}
